{% extends 'base/index.html' %}
{% load mytags %}

{% block title %} Landmarks{% endblock %}

{% block body %} 

{% for landmark in landmarks %}
    <div> <b>Landmark Name:</b><br>{{landmark.name}} </div>
    <div> <b>Landmark Address:</b><br>{{landmark.address}} </div>
    <div> <b>Landmark Type:</b><br>{{landmark.type}} </div>
    <div> <b>Landmark Description:</b><br>{{landmark.description}} </div>
    <b>Some photos of Landmark:</b>
    {% for key, value in photos.items %}
        {% if landmark.id == key %}
            {% for photo in value %}
            <img src="{{ photo.photo.url }}" alt="Landmark Photo" style="width: auto; height: 300px;">
            {% endfor %}
        {% endif %}
    {% endfor %}

    <br><br><br><br>
{% endfor %}

{% endblock %}