{% extends 'base/index.html' %}
{% load static %}

{% block title %} Landmark Detail {% endblock %}
{% block body %}  


  <h1>{{ landmark.name }} Details</h1>

  <p><strong>Address:</strong> {{ landmark.address }}</p>
  <p><strong>Type:</strong> {{ landmark.type }}</p>
  <p><strong>Description:</strong> {{ landmark.description }}</p>

  <h2>Photos</h2>
  {% if photos %}
    <ul>
      {% for photo in photos %}
        <li>
          <img src="{{ photo.photo.url }}" alt="Landmark Photo" style="width: 300px; height: 200px;">
          <form method="post" action="{% url 'delete_photo' photo.id %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Delete</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No photos available for this landmark.</p>
  {% endif %}
  <a href="{% url 'upload_photo' landmark_id=landmark.id %}">Upoad Photo for {{landmark.name}}</a>
  <a href="{% url 'create_landmark' %}">Create New Landmark</a>

  {% endblock %}